In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('group05_http_input.csv')

In [6]:
print("Step 1 Complete: CSV Data Loaded")

Step 1 Complete: CSV Data Loaded

In [7]:
df

Empty DataFrame
Columns: [msg_id, app_protocol, src_app, dst_app, message, timestamp]
Index: []

In [8]:
df['tcp_header'] = "SrcPort: 54321, DstPort: 80, Seq: " + df['msg_id'].astype(str)

In [9]:
df['ip_header'] = "SrcIP: 192.168.1.10, DstIP: 10.0.0.5, Proto: TCP"

In [10]:
print("Data Encapsulation Simulated:")

Data Encapsulation Simulated:

In [11]:
df[['message', 'tcp_header', 'ip_header']].head()

Empty DataFrame
Columns: [message, tcp_header, ip_header]
Index: []